* {
  margin: 0;
  padding: 0;
  clear: both;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #cccccc;
  margin-top: 80px;
}

.card {
  padding: 12px 30px;
  background-color: #ffffff;
  margin: 0 auto;
  max-width: 400px;
  border-radius: 8px;
}

form .form-wrapper {
  max-width: 280px;
  margin: 0 auto;
}

input {
  display: inline-block;
  min-height: 30px;
  width: 100%;
  margin: 6px 0;
}

label {
  display: block;
  margin-top: 8px;
}

button {
  display: inline-block;
  min-height: 30px;
  min-width: 150px;
  margin: 12px 0; 
}

.product-list-item {
  padding: 8px 12px;
  list-style: none;
  border: 1px solid #cccccc;
  margin: 12px 0;
}